body {
    background-color: black;
    height: 100%;
}

html {
height: 100%;
width: 100%;
}

.circle {
    width: 190px;
    height: 190px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto; 
    position: absolute;
    top:  -1px; 
    left: -1px;
    box-shadow: 2px 2px 5px #999;
}

.p1 {
    top: 10px;
}

.t1 {
    background-color: black;
    position:relative;
    margin:0 auto;
    width:100%;
}

#footer {
        width:100%;
    }

.grability {
    height: 70px;
    padding-left: 30%;
    color: white;
    font-size: 90%;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}

.header{
    padding-top: 10px;
    padding-bottom: 65px;
    width:100%;
}

.description {
    width: 45%;
    position: absolute;
    top:  36px; 
    left: 200px;
    color: gray;
    font-size: 88%;
    font-family: 'Poppins', sans-serif;
    text-align: left !important;
    
    line-height: 1.5em;
    height: 9em;
    overflow:hidden;
    text-overflow: ellipsis;
}

.name {
    position: absolute;
    top:  -9px; 
    left: 200px;
    font-size: 120%;
    color: #483E3D;
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    text-transform: uppercase;
    font-weight:700;
}

.more {
    position: absolute;
    height: 30px;
    border: 0px;
    top:  155px; 
    left: 200px;
    font-size: 80%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    text-transform: uppercase;
    font-weight:700;
    background-color: #EC1D23;
}

.title_related {
    position: absolute;
    height: 40px;
    border: 0px;
    top:  200px; 
    left: 30px;
    font-size: 120%;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    font-weight:500;
}

.named_related {
    background-color: white;
    font-size: 95%;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    top: 205px;
    height: 3em;

    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    margin: 0 auto;
    overflow:hidden;
    text-overflow: ellipsis;
}

input.lupa{
    border: 0px;
    width: 240px;
    position: relative;
    background-color: white: ;
    outline: none;
    bottom: 4px;
    padding: 2px;
    top: 10px;
    font-size: 100%;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: left !important;
}

input.image_buscar {
    width: 50px;
    border: 0px;
    position: relative;
    top: 10px;
    height: 50px;
    background-color: white;
}

.cover {
    width: 200px;
    height: 200px;
    display: inline-block;
    background-size: cover;  
}

.nombre {
	text-align: center;
	width: 180px;
    display: inline-block;
}

.titulo {
	font: bold 180% sans-serif;
	vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 12px solid #e45343;    
}

#resultados {
    margin-top: 20px;
    background-color: white;
    height: 334px;
}

#favoritos {
    margin-top: 20px;
    color: #000;
    background-color: transparent;
}

#login, #loggedin {
    display: none;
}

.favorito{
    background-color: #F4F4F4;
    -webkit-box-shadow: inset 0px 5px 5px 0px #999;
    -moz-box-shadow: inset 0px 5px 5px 0px #999;
    box-shadow: inset 0px 13px 7px -100px #999;
    position: inherit;
} 

.fav-1{
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 18%;
}

.tfav-1 {
    font: bold 120% sans-serif;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
    margin-top: 5%;
    text-align: center;
}

.del{
    z-index: 2;
    padding-left: 90%;
    top: 4%;
    right: 0%;
    position: absolute;
}

.del1{
    z-index: 2;
    padding-left: 90%;
    top: 26%;
    right: 0%;
    position: absolute;
}

.del2{
    z-index: 2;
    padding-left: 90%;
    top: 48%;
    right: 0%;
    position: absolute;
}

.del3{
    z-index: 2;
    padding-left: 90%;
    top: 71%;
    right: 0%;
    position: absolute;
}

.container{
    background-color: #F4F4F4;
    -webkit-box-shadow: inset 0px 8px 5px 0px #999;
    -moz-box-shadow: inset 0px 8px 5px 0px #999;
    box-shadow: inset 0px 5px 5px 0px #999;
}    

a { text-decoration: none; }
a:link { color: gray; text-decoration: none }
a:active { color: red; text-decoration: none }
a:visited { color: gray; text-decoration: none }
a:hover { color: red; text-decoration: none;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    text-align: left !important;
    margin: 3px 3px 3px 3px !important;
    }
a:hover:before { content: url("../icons/link-arrow.png");padding: 1px 3px;}





#vmodal { 
    z-index: 1;
    background-color: #fff;
    color: black;
    position: fixed;
    top: 10px;
    left: -1000px;
    width: 800px;
    height: 500px;
    font-family:'Roboto';
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 100px;
}
#vmodal:target{
    position: fixed;
    display:flex;
    align-items:center;
    justify-content:center;
    left:0;
}
.cerrar{
    display:flex;
    position:absolute;
    top: 2%;
    right: 1%;
    padding:.5em;
    background-color: transparent;
    color:#ccc;
    text-decoration:none;
    font-size:.7em;
    box-sizing:border-box;
}

.mod-1{
    margin-left: 5%;
    margin-top: -26%;
}

.mod-2 {
    font: bold 150% sans-serif;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
    margin-top: -41%;
    text-transform: uppercase;
    width: 100%;
    margin-left: 36%;
}

.parrafo {
    font: 100% sans-serif;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
    margin-top: 3%;
    width: 60%;
    margin-left: 36%;
    position: initial;
}

.add {
    margin-top: 16%;
    position: fixed;
    width: 30%;
    height: 10%;
    background-color: #F4F4F4;
    font: bold 100% sans-serif;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
}

.buy {
    margin-top: 16%;
    position: fixed;
    width: 30%;
    height: 10%;
    margin-left: 29.4%;
    background-color: #DCDCDC;
    font: bold 100% sans-serif;
    vertical-align: bottom;
    font-family: 'Montserrat', sans-serif;
    color: #483E3D;
}

.but {

}